/* Base node */
.node {clear: both; padding: 10px 0; margin: 3px 0 ;}
.node h2.title { margin: 20px 0 0 0; font-size: 23px; font-weight: normal; color:#7a7a7a;}
.node h2.title a { font-size: 23px; font-weight: normal; color:#74a09f;}
#node-10532 h2.title { margin: 0; font-size: 23px; font-weight: normal; color:#7a7a7a;}
/* Content */
.node .content { margin: 1.5em 0; }
/* Blog */
.node.ntype-blog {margin: 0; padding: 0; font-size:14px;}
.node.ntype-blog .content h1.main  {color:#779FA0; font-size:28px; line-height:32px; margin:0; font-weight:normal;}
.node.ntype-blog .mowrap h1 {color:#7a7a7a; font-size:28px; line-height:32px; margin:0;}
.node.ntype-blog .mowrap a {color:#779FA0}
.node.ntype-blog .links,.node.ntype-blog .content,.node.ntype-blog .links ul.links.inline li  {margin: 0;}
.node.ntype-blog .mowrap h2 {color:#7A7A7A; font-size:22px; line-height:28px; font-weight:normal; margin: 0; border-bottom: 1px dashed #ccc; padding: 0 0 5px 0;}
.node.ntype-blog .mowrap h3 {color:#7A7A7A; font-size:18px; line-height:24px; font-weight:normal; margin: 0;}
.subinfo {margin: 0 0 15px 0; font-size:12px; clear:both;}
.subinfo2 {margin: 5px 0; }
.node.ntype-blog .content .readmore a {padding: 5px; background-color:#779FA0; color: #fff;}
.note {background-color:#FFF8DD; color:#666666; display:inline; font-size:12px; font-style:italic; line-height:26px; margin:0; padding:5px 10px;}
.node.ntype-blog h2 .subinfo2, .node.ntype-blog h2 .subinfo2 a {font-size:12px; font-weight:normal;}
.node.ntype-blog h5, .node.ntype-drigg h5, .frontad h5, .extraad h5 {margin: 0 0 10px 0; color:#d4d4d4; font-weight:normal;}
.frontad {padding: 10px 0 0 0;}
.centerad, .frontad {text-align:center;}
.node.ntype-blog .content .mowrap p { margin: 10px 0;}
.node.ntype-blog .links li {display: inline; margin: 0; padding:0;}
.node.ntype-blog h1 ul.blogbuttons {margin:0; padding:0; list-style: none; display:inline;}
.node.ntype-blog h1 ul.blogbuttons li, .node.ntype-blog h1 ul.blogbuttons li a {color:#fff; margin: 2px; padding:0; display:inline; font-size:20px;}
.node.ntype-blog .content .mowrap .codeblock {background-color:#EDF1F3; border:1px solid #7F98A7; padding:20px; line-height:1.2em;} 
/*.articlebuttons {background-image:url("http://designbump.com/sites/all/themes/designbumpv3/img/buttonholder.png");
background-position:0 0;
background-repeat:no-repeat;
float:left;
height:142px;
margin-top:-109px;
margin-left:-99px;
padding:20px 10px 10px 20px;
position:fixed;
z-index:10;
width:91px;} */
.articlebuttons {float:left; margin: 0 10px 0 0;}
.articlebuttons .stumble {margin: 0 0 5px 0;}
.headerimg {margin: 0 0 5px 0;}
.node.ntype-blog .fiveeight img {padding:4px; border:1px solid #CCC; background:#f7f7f7; margin: 0 0 10px 0; text-align:center;}
/* Author  */
.author {background-color:#f9f9f9; padding: 13px; min-height:113px; margin: 25px 0 0 0;}
.author h3 {margin: 0 0 7px 0;}
.author h3 a {font-size:17px;}
.author a { color: #779fa0;}
.author div.picture {background-color:#fff; float: left; margin: 0 17px 0 0; padding:7px; height: 100px; width: 100px; overflow: hidden; border: 1px solid #ececec;}
.author div.picture a, .author div.picture img {display: block; height: 100px; width: 100px; margin-left: 0px;}
.author .extra {margin: 0 0 0 133px; padding:10px 0 0 0; clear:both;}
.author .extra .homepage {background: url(http://designbump.com/sites/all/themes/designbumpv3/img/homepage.png) no-repeat top left; margin: 0 15px 0 0; padding: 5px 0 0 30px;}
.author .extra .twitter {background: url(http://designbump.com/sites/all/themes/designbumpv3/img/blogtweet.png) no-repeat top left; padding: 0 0 0 30px;}
/* Drigg node */
.node.ntype-drigg .retweet { height:13px; padding: 0 0 0 25px; font-size: 11px; font-weight: normal; background:url(http://designbump.com/sites/all/themes/designbumpv3/img/retweet.gif) no-repeat; color:#fff;}
.node.ntype-drigg .retweet:hover {background:url(http://designbump.com/sites/all/themes/designbumpv3/img/retweet.gif) no-repeat 0px -13px; color:#fff;}
.node.ntype-drigg .goldstarmain {color:#fff; font-size: 13px; display:inline; margin: 0 0 0 8px; padding:2px 0 0 22px; display:inline; background:url(http://designbump.com/sites/all/themes/designbumpv3/img/star.png) no-repeat;}
.node.ntype-drigg .goldstar {color:#fff; font-size: 13px; display:inline; margin: 0 0 0 3px; padding:2px 0 0 22px; display:inline; background:url(http://designbump.com/sites/all/themes/designbumpv3/img/star.png) no-repeat;}
.node.ntype-drigg .goldstar:hover, .node.ntype-drigg .goldstarmain:hover {color:#7a7a7a;}
.node.ntype-drigg {background: url(http://designbump.com/sites/all/themes/designbumpv3/img/seperator.gif) no-repeat center bottom;}
.node.ntype-drigg .karma_3_big, .node.ntype-drigg .karma_4_big { float: left; }
.node.ntype-drigg .offset { margin-left: 79px; padding:7px 0 10px 0; min-height:80px; }
.node.ntype-drigg h2 { margin: 0; font-size:22px; display:inline;}
.node.ntype-drigg h2 a { color:#779fa0; font-weight: bold;}
.node.ntype-drigg h2 a:hover { color:#598281;}
.node.ntype-drigg a { color: #005a8e; }
.node.ntype-drigg .story small a { color: #666; }
.node.ntype-drigg .baselink {color:#7a7a7a; font-size:10px; display:inline; margin-left: 2px; }
.node.ntype-drigg .baselink a { color:#7a7a7a; font-weight: bold; text-decoration: underline;}
/* Embedded content */
.node.ntype-drigg .embedded-teaser div {float: right; margin: 0 20px; padding: 1px; border: 1px solid #bbb;}
.node.ntype-drigg .embedded-teaser div img {display: block; margin: 0;}
.node.ntype-drigg .embedded {margin-top: 1.5em;}
/* Story data */
#contentbase .node.ntype-drigg .storydata {margin: 0; position: relative;}
#contentbase .node.ntype-drigg .storydata div.picture {position: absolute; left: -40px; height: 30px; width: 30px; overflow: hidden; margin-top: 1px; padding: 1px; border: 1px solid #ccc;}
#contentbase .node.ntype-drigg .storydata div.picture a, .node.ntype-drigg .storydata div.picture img {display: block; height: 30px; width: 30px; background-color: #f3f9fc;}
#contentbase .node.ntype-drigg .storydata div.picture:hover { border-color: #999; }
#contentbase .node.ntype-drigg .storydata strong {color: #900; font-weight: normal;}
#contentbase .node.ntype-drigg .storydata .links li { padding: 0 2px; }
#contentbase .node.ntype-drigg .storydatafull {margin: 3px 0 0 40px; position: relative;}
#contentbase .node.ntype-drigg .storydatafull div.picture {position: absolute; left: -40px; height: 30px; width: 30px; overflow: hidden; margin-top: 1px; padding: 1px; border: 1px solid #ccc;}
#contentbase .node.ntype-drigg .storydatafull div.picture a, .node.ntype-drigg .storydatafull div.picture img {display: block; height: 30px; width: 30px; background-color: #f3f9fc;}
#contentbase .node.ntype-drigg .storydatafull div.picture:hover { border-color: #999; }
#contentbase .node.ntype-drigg .storydatafull strong {color: #900; font-weight: normal;}
#contentbase .node.ntype-drigg .storydatafull .links li { padding: 0 2px; }
.node .storydata {font-size: 8pt; color: #888;}
.node.ntype-drigg .storydata a { color: #7a7a7a; font-weight:bold; text-decoration: underline; }
.node .storydatafull {font-size: 8pt; color: #888;}
#content_center .node .storydatafull a { color: #666; }
/* Links */
.node div.links {display:inline; font-size: 8pt;}
.node div.links a { color: #779fa0; }
.node div.links .links li { padding: 0 5px 0 0; }
.node div.links .links li.statistics_counter { color: #666; display:none;}
.add_to_favorites a { padding: 0 0 0 18px;font-weight:bold; }
.flag-admin_spam a {padding: 0 0 0 18px;font-weight:bold;}
.flag-admin_spam {background:url(http://designbump.com/sites/all/themes/designbumpv3/img/flag.gif) no-repeat;}
.flag-editors_pick a {padding: 0 0 0 18px;font-weight:bold;}
.flag-editors_pick {background:url(http://designbump.com/sites/all/themes/designbumpv3/img/star.gif) no-repeat;}
.node div.links .links .in_favorites { color:#7a7a7a; padding: 0 2px 0 18px;font-weight:bold; background:url(http://designbump.com/sites/all/themes/designbumpv3/img/disk.gif) no-repeat; }
.comment_add a { padding: 0 0 0 18px;font-weight:bold; }
.comment_add {background:url(http://designbump.com/sites/all/themes/designbumpv3/img/comment.gif) no-repeat;}
.comment_comments {background:url(http://designbump.com/sites/all/themes/designbumpv3/img/comment.gif) no-repeat;}
.comment_comments a { padding: 0 0 0 18px;font-weight:bold; }
.add_to_favorites {background:url(http://designbump.com/sites/all/themes/designbumpv3/img/disk.gif) no-repeat;}
.dbmore a { padding: 0 0 0 20px;font-weight:bold; }
.dbmore {background:url(http://designbump.com/sites/all/themes/designbumpv3/img/dbmore.gif) no-repeat;}
.bury {display:none;}
.bury a {display:none;}
.herenow .bury {display:inline; background:url(http://designbump.com/sites/all/themes/designbumpv3/img/bury.png) no-repeat;}
.herenow .bury a {display:inline; padding: 0 0 0 18px;font-weight:bold; }
.sharebuttons {background:url(http://designbump.com/sites/all/themes/designbumpv3/img/imagebase.png) no-repeat -345px -325px; no-repeat; height:125px; margin:25px 0 0 0; padding: 0 0 0 290px;}
.sharebuttons ul {margin:0; padding:0; list-style: none;}
.sharebuttons ul li {display:inline; margin:0 0 0 23px;}
.sharebuttonsblog {background:url(http://designbump.com/sites/all/themes/designbumpv3/img/imagebase.png) no-repeat -345px -325px; no-repeat; height:125px; margin:35px 0 0 0; padding: 0 0 0 290px;}
.sharebuttonsblog ul {margin:0; padding:0; list-style: none;}
.sharebuttonsblog ul li {display:inline; float:right; margin:0 10px 0 10px;}
/* Related links */
.node-related {border-top: 1px solid #fff; background: url(http://designbump.com/sites/all/themes/designbumpv3/img/seperator.gif) no-repeat center top; margin-bottom: 25px; padding:25px 0 0 0;}
.node-related h2 { font-size: 12pt; color:#7a7a7a; }
.node-related dl dt { margin: 0.2em 0 0 0; }
.node-related dl dt span { color: #666; }
.node-related div.googleads_300x250 {float: left; padding: 0 20px 20px 20px; margin-right: 20px;}
.node-related div.googleads_300x250 iframe {display: block; margin: 0;}
/* Comments  */
.comment {background-color:#f9f9f9; margin: 11px 0; padding: 13px;}
#comments .admin {background-color:#eeeeee; margin: 11px 0; padding: 13px;}
.comment div.picture {float: left; margin: 0 17px 0 0; height: 64px; width: 64px; overflow: hidden; border: 1px solid #dcdedf;}
.comment div.picture a, .comment div.picture img {display: block; height: 64px; width: 64px; margin-left: 0px;}
.comment h3 a { color: #7a7a7a; font-size:17px;}
.comment a { color: #779fa0;}
.comment .links {text-align:right;}
.comment .links a {font-size:11px; color:#ccc;}
.comment .links a:hover {color:#666;}
#comments .box h2 {font-weight:normal; font-size:24px;}
#comments .form-required {color:#c23d50;}
#comments .box {margin:30px 0 0 0; padding:10px 0 0 0; background: url(http://designbump.com/sites/all/themes/designbumpv3/img/seperator.gif) no-repeat center top;}
.commentnumber {font-size:26px; padding: 0 0 15px 13px;}





#edit-field-driggthumb-0-ahah-wrapper {background:none repeat scroll 0 0 #FEFFE8;
margin:10px 0;
padding:10px;}
#edit-field-driggthumb-0-upload-wrapper .widget-edit .description {font-size:10px;}
#edit-field-driggthumb-0-upload-wrapper .description {font-size: 16px;}

.driggpic {float:right;}
.driggpic a {display:block;}
.driggpic img {border:1px solid #CCCCCC;
margin:0 0 0 5px;
padding:2px;
float:right;}

#block-block-41 {clear:both;}
#subscribe_options .icons {
padding:0;}
#subscribe_options .icons li {
float:left;
font-size:11px;
margin:0 2px 5px 0;
text-align:center;
width:50px;
list-style:none outside none;
}
#subscribe_options .icons .buzz a {
background-position:0px 2px;
}
#subscribe_options .icons a {
background:url("http://designbump.com/sites/all/themes/designbumpv3/img/dbshare.png") no-repeat scroll center top transparent;
display:block;
padding:40px 0 2px;
}
#subscribe_options .icons .twitter a {
background-position: -50px 2px;
}
#subscribe_options .icons .facebook a {
background-position: -100px 2px;
}
#subscribe_options .icons .rss a {
background-position: -150px 2px;
}
#subscribe_options .icons .email a {
background-position: -200px 2px;
}




















/* Original */
.node.ntype-original {margin: 0; padding: 0; font-size:14px;}
.node.ntype-original .content h1.main  {color:#779FA0; font-size:28px; line-height:32px; margin:0; font-weight:normal;}
.node.ntype-original .mowrap h1 {color:#7a7a7a; font-size:28px; line-height:32px; margin:0;}
.node.ntype-original .mowrap a {color:#779FA0}
.node.ntype-original .links,.node.ntype-original .content,.node.ntype-original .links ul.links.inline li  {margin: 0;}
.node.ntype-original .mowrap h2 {color:#7A7A7A; font-size:22px; line-height:28px; font-weight:normal; margin: 0; border-bottom: 1px dashed #ccc; padding: 0 0 5px 0;}
.node.ntype-original .mowrap h3 {color:#7A7A7A; font-size:18px; line-height:24px; font-weight:normal; margin: 0;}
.subinfo {margin: 0 0 15px 0; font-size:12px; clear:both;}
.subinfo2 {margin: 5px 0; }
.node.ntype-original .content .readmore a {padding: 5px; background-color:#779FA0; color: #fff;}
.note {background-color:#FFF8DD; color:#666666; display:inline; font-size:12px; font-style:italic; line-height:26px; margin:0; padding:5px 10px;}
.node.ntype-original h2 .subinfo2, .node.ntype-original h2 .subinfo2 a {font-size:12px; font-weight:normal;}
.node.ntype-original h5, .node.ntype-drigg h5, .frontad h5, .extraad h5 {margin: 0 0 10px 0; color:#d4d4d4; font-weight:normal;}
.frontad {padding: 10px 0 0 0;}
.centerad, .frontad {text-align:center;}
.node.ntype-original .content .mowrap p { margin: 10px 0;}
.node.ntype-original .links li {display: inline; margin: 0; padding:0;}
.node.ntype-original h1 ul.blogbuttons {margin:0; padding:0; list-style: none; display:inline;}
.node.ntype-original h1 ul.blogbuttons li, .node.ntype-blog h1 ul.blogbuttons li a {color:#fff; margin: 2px; padding:0; display:inline; font-size:20px;}
.node.ntype-original .content .mowrap .codeblock {background-color:#EDF1F3; border:1px solid #7F98A7; padding:20px; line-height:1.2em;} 
/*.articlebuttons {background-image:url("http://designbump.com/sites/all/themes/designbumpv3/img/buttonholder.png");
background-position:0 0;
background-repeat:no-repeat;
float:left;
height:142px;
margin-top:-109px;
margin-left:-99px;
padding:20px 10px 10px 20px;
position:fixed;
z-index:10;
width:91px;} */
.articlebuttons {float:left; margin: 0 10px 0 0;}
.articlebuttons .stumble {margin: 0 0 5px 0;}
.headerimg {margin: 0 0 5px 0;}
.node.ntype-original .fiveeight img {padding:4px; border:1px solid #CCC; background:#f7f7f7; margin: 0 0 10px 0; text-align:center;}
/* Author  */
.author {background-color:#f9f9f9; padding: 13px; min-height:113px; margin: 25px 0 0 0;}
.author h3 {margin: 0 0 7px 0;}
.author h3 a {font-size:17px;}
.author a { color: #779fa0;}
.author div.picture {background-color:#fff; float: left; margin: 0 17px 0 0; padding:7px; height: 100px; width: 100px; overflow: hidden; border: 1px solid #ececec;}
.author div.picture a, .author div.picture img {display: block; height: 100px; width: 100px; margin-left: 0px;}
.author .extra {margin: 0 0 0 133px; padding:10px 0 0 0; clear:both;}
.author .extra .homepage {background: url(http://designbump.com/sites/all/themes/designbumpv3/img/homepage.png) no-repeat top left; margin: 0 15px 0 0; padding: 5px 0 0 30px;}
.author .extra .twitter {background: url(http://designbump.com/sites/all/themes/designbumpv3/img/blogtweet.png) no-repeat top left; padding: 0 0 0 30px;}



.view-header h1 {margin:0;
padding:3px 0 6px;font-size:23px;
font-weight:normal;}
.herenow span.flag-test {
display:inline;
-moz-border-radius:5px;
border-radius:5px;
background-color:#FFF7CA;
border:1px solid #EDE6BC;
font-size:16px;
padding: 0 5px;}
.herenow span.flag-test a {font-weight:normal; font-size:13px;
color:#736925 !important;}
span.flag-test {
display:none;}